.short-key {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.short-key:not(.chat-enter-button) {
  pointer-events: none;
}

.has-short-key {
  column-gap: 8px;
}

.has-short-key .short-key {
  display: flex;
  position: static;
  transform: none;
}

.short-key.has-border {
  border: 1px solid var(--theme-element1);
}

.short-key.has-border svg {
  color: var(--theme-element2);
}

.short-key.has-text {
  width: auto;
  /* 20x20 */
  padding: 0 6px;
  color: var(--theme-element2);
}

.ui-element {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  pointer-events: none;
}

.ui-visible .ui-element {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.input {
  padding: 0 12px;
}

.textarea {
  padding: 12px;
}

.input,
.textarea {
  font-size: 16px;
  color: var(--black);
  border: 1px solid var(--gray-200);
  background-color: var(--white);
  font-family: "PretendardVariable";
  border-radius: 6px;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--gray-400);
}

.input:disabled,
.textarea:disabled {
  background-color: var(--gray-200);
  color: var(--gray-800);
}

.contents-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.contents-loader p {
  color: var(--gray-600);
  font-size: 14px;
  margin: 0;
}

input[type="checkbox"] + label svg {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--yellow-400);
  width: 18px;
  height: 18px;
}

input[type="checkbox"] + label svg path {
  stroke-width: 5px;
}

input[type="checkbox"] + label span {
  padding-left: 20px;
}

input[type="checkbox"]:checked + label svg {
  display: block;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 3px;
  border: 1px solid var(--gray-400);
  background-color: var(--white);
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  height: fit-content;
  position: absolute;
  background-color: #27262ecc;
  color: var(--gray-100);
  padding: 7.5px 8px;
  border-radius: 4px;
  font-size: 13px;
  white-space: nowrap;
  z-index: 9999;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  backdrop-filter: blur(20px);
  transition: backdrop-filter 0.7s ease-in-out;
  pointer-events: none;
}

body.transition-active::before {
  backdrop-filter: blur(0px);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splash-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.splash-logo-box {
  display: flex;
  align-items: center;
  column-gap: 4px;
}

.splash-logo-box svg {
  width: 60px;
  height: 60px;
}

.splash-logo-area {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.splash-text {
  margin-left: 5px;
  font-family: "NexonLv1Gothic";
  font-size: 14px;
}

.splash-logo-box-text {
  font-size: 22px;
  font-family: "NexonLv1Gothic";
  font-weight: 700;
  letter-spacing: 1.5px;
}

.threejs-logo-light {
  display: none;
  width: 128px;
  height: 65px;
}

.threejs-logo-dark {
  display: none;
  width: 150px;
  height: 79px;
  object-position: 10px 0px;
}

.copyright-text {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  font-family: "NexonLv1Gothic";
  letter-spacing: 0.5px;
  animation: fadeIn 1.5s ease-in-out forwards;
}

.thin-white-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-white-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.thin-white-scrollbar::-webkit-scrollbar-track {
  background-color: var(--gray-500);
}

.thin-white-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--gray-300);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
  }

  .splash-wrapper {
    background-color: #fff;
  }

  .splash-logo-box svg {
    color: #333;
  }

  .splash-text,
  .splash-logo-box-text,
  .copyright-text {
    color: #333;
  }

  .threejs-logo-light {
    display: block;
  }

  .threejs-logo-dark {
    display: none;
  }

  .threejs-logo {
    bottom: 10px;
    right: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }

  .splash-wrapper {
    background-color: #333;
  }

  .splash-logo-box svg {
    color: #fff;
  }

  .threejs-logo-light {
    display: none;
  }

  .threejs-logo-dark {
    display: block;
  }

  .splash-text,
  .splash-logo-box-text,
  .copyright-text {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .short-key {
    display: none;
  }
}
