@media (hover: hover) {
  .popup-close:hover {
    background-color: var(--blue-200);
  }

  .chat-close-button:hover {
    background-color: var(--sky-600);
  }

  .button-blue:hover {
    background-color: var(--blue-950);
  }

  .button-sky:hover {
    background-color: var(--sky-500);
  }

  .popup-character-tab-button:hover {
    border-color: var(--blue-500);
  }

  .user-box-item-button:hover {
    color: var(--blue-600);
    background-color: var(--gray-100);
  }

  .chat-leave-button:hover {
    background-color: var(--red-600) !important;
  }

  .chat-enter-button.short-key:hover,
  .header-right button:hover {
    background-color: var(--gray-100);
  }

  .chat-emoji-list-button:hover {
    transform: scale(1.1);
  }

  .world-header-box button:not(.active):hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .chat-close-button:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .chat-emoji-wrapper:not(.active) .chat-emoji-button:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }

  .chat-open-button:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}
