@media (hover: hover) {
  .popup-close:hover {
    background-color: var(--blue-200);
  }

  .chat-close-button:hover {
    background-color: var(--sky-600);
  }

  .button-blue:hover {
    background-color: var(--blue-950);
  }

  .button-sky:hover {
    background-color: var(--sky-500);
  }

  .popup-character-tab-button:hover {
    border-color: var(--blue-500);
  }

  .user-box-item-button:hover {
    color: var(--blue-600);
    background-color: var(--gray-100);
  }
}
