#user-logout-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userbox-user-logout-element {
  position: absolute;
  top: 12px;
  right: 12px;
}

#user-info {
  display: block;
  width: 48px;
  height: 48px;
}

#mypage-img-element {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 1px solid var(--gray-200);
  border-radius: 12px;
}

#guest-notice-message {
  display: flex;
  align-items: center;
  width: 100%;
}
