.chat-wrapper {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100%;
  max-width: 450px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.chat-wrapper:not(.active) .tooltip.emoji {
  z-index: -1;
}

.chat-wrapper:not(.active) .chat-emoji-list {
  z-index: 100;
}

.chat-wrapper.active .chat-inner {
  display: block;
}

.chat-inner {
  display: none;
  padding: 12px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.chat-log-box {
  height: 250px;
  position: relative;
  overflow: hidden;
}

.chat-log-box .virtual-scroll-container {
  margin-top: 8px;
}

.chat-log-box .virtual-scrollbar {
  top: 8px;
  height: calc(100% - 16px) !important;
}

.chat-log-box::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.chat-input-box {
  position: relative;
}

.chat-input-box .short-key {
  right: 8px;
  color: var(--gray-300);
}

.chat-input {
  width: 100%;
  height: 32px;
  padding-left: 6px;
  padding-right: 40px;
  font-size: 16px;
  color: var(--white);
  border: 0;
  border-radius: 8px;
  background-color: var(--gray-950);
}

.chat-button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
  width: 100%;
  height: 100%;
}

.chat-close-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--sky-500);
}

.chat-close-button svg {
  pointer-events: none;
}

.chat-wrapper .chat-close-button svg {
  transform: rotate(180deg);
}

.chat-wrapper.active .chat-close-button svg {
  transform: rotate(0deg);
}

.chat-body {
  display: none;
}

.chat-wrapper.active .chat-body {
  display: block;
}

.world-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.world-header-box .contents-loader {
  z-index: 0;
}

.world-header-box .popup {
  position: absolute;
  top: 100px;
  right: 11px;
}

.world-header-box .popup-inner {
  padding-block: 0;
}

.world-header-box .short-key {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}

.world-header-box .only-icon-button {
  position: relative;
  padding: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
}

.only-icon-button svg {
  width: 28px;
  height: 28px;
  color: var(--theme-element1);
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.setting-button,
.ranking-button {
  background-color: var(--white);
}

.chat-enter-button.short-key {
  background-color: var(--white);
}

.chat-enter-button.short-key svg {
  color: var(--black);
}

.chat-message {
  position: absolute;
  left: 0;
  right: 0;
  padding: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  width: calc(100% - 16px);
  box-sizing: border-box;
}

.chat-message.user-message {
  display: flex;
  column-gap: 6px;
  padding: 0 6px;
  background-color: transparent;
}

.chat-message.user-message .message-text {
  font-size: 16px;
}

.user-message .message-header {
  margin-bottom: 0;
  font-size: 16px;
}

.user-message .message-user {
  font-weight: 500;
  color: var(--white);
}

.user-message .message-user::after {
  content: ":";
  margin-left: 2px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 14px;
}

.message-user {
  font-weight: 600;
  color: var(--sky-300);
}

.message-time {
  color: var(--gray-300);
  font-size: 14px;
}

.message-text {
  color: var(--white);
  font-size: 14px;
  word-break: break-word;
}

.chat-room-info {
  display: flex;
  align-items: center;
  padding: 0 12px;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}

.chat-leave-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--red-500) !important;
}

.chat-leave-button:hover {
  background-color: var(--red-600);
}

.chat-leave-button svg {
  pointer-events: none;
  color: var(--white);
}

.world-header-content {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

[class*="virtual-scroll-container"] {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: transform 250ms ease-out;
  width: 100%;
}

[class*="virtual-scrollbar"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  z-index: 10;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

[class*="virtual-scrollbar"].virtual-scrollbar-hidden {
  background-color: transparent;
}

[class*="virtual-scrollbar-thumb"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s ease;
}

.virtual-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.world-user-list-box {
  display: flex;
  flex-direction: column;
}

.world-user-list-item {
  display: flex;
  align-items: center;
  height: 32px;
  font-size: 16px;
}

.action-buttons {
  display: flex;
  align-items: center;
  column-gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 100;
}

.action-buttons button svg {
  width: 24px;
  height: 24px;
}

.reset-button {
  position: absolute;
  bottom: 60px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 100;
}

.reset-button svg {
  color: var(--white);
}

.reset-button svg {
  width: 24px;
  height: 24px;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-emoji-wrapper {
  position: absolute;
  top: -85px;
  left: 0;
  display: flex;
  align-items: center;
  width: 40px;
  border-radius: 9999px;
  transition: 0.5s ease-in-out;
  transition-property: width;
  background-color: var(--white-900);
  overflow: hidden;
}

.chat-emoji-tooltip-box + .short-key {
  top: -58px;
}

.chat-emoji-wrapper.active {
  width: 286px;
}

.chat-emoji-wrapper.active .chat-emoji-list {
  left: 40px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.chat-emoji-button,
.chat-open-button {
  position: relative;
}

.chat-emoji-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.chat-emoji-tooltip-box + .short-key {
  display: flex;
  transform: none;
  top: -59px;
  z-index: 10;
  left: 30px;
  transition: 0s;
}

.chat-wrapper.active .chat-emoji-tooltip-box + .short-key {
  top: -23px;
}

.chat-emoji-wrapper.active + .chat-emoji-tooltip-box + .short-key {
  display: none;
}

.chat-emoji-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 8px;
  border-radius: 100px;
  transition: 0.5s ease-in-out;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.chat-emoji-list-button {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.chat-emoji-button svg {
  width: 26px;
  height: 26px;
  color: var(--gray-700);
}

.help-group {
  display: flex;
  column-gap: 4px;
}

.help-group .short-key {
  position: static;
  transform: none;
}

.help-group-box {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.help-group-text {
  font-size: 16px;
  color: var(--black);
  font-weight: 700;
  white-space: nowrap;
}

.help-group-description {
  font-size: 16px;
  color: var(--gray-800);
  word-break: keep-all;
}

.chat-wrapper.active .chat-open-button-area {
  display: none;
}

.chat-wrapper.active .chat-open-button-area + .short-key {
  display: none;
}

.chat-wrapper.active .chat-emoji-wrapper {
  top: -49px;
}

.chat-open-button-area {
  display: flex;
  position: absolute;
  top: -32px;
  left: 0;
}

.chat-open-button-area + .short-key {
  top: 4px;
  left: 30px;
}

.chat-open-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  background-color: var(--white-900);
}

.chat-open-button svg {
  width: 26px;
  height: 26px;
}

.world-header-box .tooltip {
  left: 50%;
  transform: translateX(-50%);
  bottom: -39px;
}

.chat-close-button .tooltip {
  left: 50%;
  transform: translateX(-50%);
  bottom: -37px;
  z-index: 20;
}

.world-header-box .short-key ~ .tooltip {
  bottom: -70px;
}

.chat-emoji-button .tooltip {
  position: fixed;
  bottom: 50px;
  left: 55px;
}

.chat-open-button .tooltip {
  top: 50%;
  transform: translateY(-50%);
  left: 55px;
}

.chat-wrapper.active .chat-emoji-button .tooltip {
  top: 0;
  left: auto;
}

.toast-wrapper {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  font-size: 14px;
  border-radius: 8px;
  padding: 14px 32px;
  text-align: center;
  background-color: #27262ecc;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  transition-property: opacity, visibility;
}

.toast-message {
  line-height: 1.3;
  word-break: keep-all;
}

.toast-message.map-explore {
  margin-top: 12px;
}

.toast-wrapper.active {
  opacity: 1;
  visibility: visible;
}

.toast-close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 18px;
  height: 18px;
}

.toast-close-button svg {
  color: var(--white);
}

.chat-emoji-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-short-key-disable="false"] .chat-emoji-tooltip-box {
  pointer-events: none;
}

[data-short-key-disable="false"] .chat-emoji-wrapper.active + .chat-emoji-tooltip-box {
  pointer-events: auto;
}

[data-short-key-disable="false"] .chat-emoji-tooltip-box .tooltip.active {
  opacity: 1;
  visibility: visible;
}

[data-short-key-disable="false"] .chat-wrapper.active .chat-emoji-tooltip-box .tooltip.active {
  top: -85px;
}

[data-short-key-disable="false"] .chat-emoji-tooltip-box .tooltip.active {
  top: -120px;
}

[data-short-key-disable="false"] #emoji-thumb-up-tooltip {
  left: 30px;
}

[data-short-key-disable="false"] #emoji-clap-tooltip {
  left: 70px;
}

[data-short-key-disable="false"] #emoji-heart-tooltip {
  left: 105px;
}

[data-short-key-disable="false"] #emoji-wave-tooltip {
  left: 150px;
}

[data-short-key-disable="false"] #emoji-smile-tooltip {
  left: 188px;
}

[data-short-key-disable="false"] #emoji-cry-tooltip {
  left: 228px;
}

[data-short-key-disable="false"] .chat-emoji-wrapper .tooltip,
[data-short-key-disable="false"] .chat-open-button-area .tooltip {
  left: 48px;
}

[data-short-key-disable="true"] .short-key,
[data-short-key-disable="true"] .short-key + .short-key {
  display: none;
}

[data-short-key-disable="true"] .world-header-box .short-key ~ .tooltip {
  bottom: -40px;
}

[data-short-key-disable="true"] #join-button .short-key {
  display: none;
}
