#scene {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#scene.loaded {
  opacity: 1;
}

.intro-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease-in-out;
}

.intro-box {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro-logo-area {
  position: relative;
  transform: translateY(-70px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  width: 100%;
  max-width: 500px;
  margin-top: -20px;
}

.intro-bottom .button {
  min-width: 200px;
}

.intro-description-box {
  position: relative;
  top: -25px;
  padding: 14px 20px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  animation: bounce 1.5s ease-in-out infinite;
}

.intro-description-box::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--white);
}

.intro-description-text {
  font-size: 14px;
  font-weight: 500;
  color: var(--black);
  word-break: break-all;
}

.intro-bottom .button-3d {
  width: 100%;
  max-width: 225px;
}

.chat-wrapper {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100%;
  max-width: 440px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.chat-wrapper.active .chat-log-box {
  height: 250px;
}

.chat-inner {
  padding: 6px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
}

.chat-log-box {
  overflow-y: auto;
}

.chat-input-box {
  position: relative;
}

.chat-input-box .short-key {
  right: 8px;
  color: var(--gray-300);
}

.chat-input {
  width: 100%;
  height: 32px;
  padding-left: 6px;
  padding-right: 40px;
  font-size: 16px;
  color: var(--white);
  border: 0;
  border-radius: 8px;
  background-color: var(--gray-950);
}

.chat-button-group {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 100%;
  height: 100%;
  padding: 0 8px;
}

.chat-close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--sky-500);
}

.chat-wrapper .chat-close-button svg {
  transform: rotate(180deg);
}

.chat-wrapper.active .chat-close-button svg {
  transform: rotate(0deg);
}

.chat-body {
  display: none;
}

.chat-wrapper.active .chat-body {
  display: block;
}

.short-key {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.has-short-key {
  column-gap: 8px;
}

.has-short-key .short-key {
  display: flex;
  position: static;
  transform: none;
}

.short-key.has-border {
  border: 1px solid var(--theme-element1);
  background-color: var(--theme-element1);
}

.short-key.has-border svg {
  color: var(--theme-element2);
}

.short-key.has-text {
  width: auto;
  /* 20x20 */
  padding: 0 6px;
  color: var(--theme-element2);
}

.header-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.header-right .only-icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme-element2);
  padding: 6px;
  border-radius: 50%;
}

.header-right .short-key {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: -28px;
}

.header-right .only-icon-button svg {
  width: 32px;
  height: 32px;
  color: var(--theme-element1);
}

.ui-element {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
  pointer-events: none;
}

.ui-visible .ui-element {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.chat-enter-button.short-key {
  background-color: var(--white);
}

.chat-enter-button.short-key svg {
  color: var(--black);
}

.threejs-logo {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.popup-character-tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 60px;
}

.popup-character-tab-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 12px);
}

.popup-character-tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--gray-200);
  background-color: var(--white);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.popup-character-tab-button.selected {
  border-color: var(--blue-500);
}

.character-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-700);
  text-align: center;
}

.popup-character-tab-button.selected .character-name {
  color: var(--blue-600);
  font-weight: 600;
}

.user-box-button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  color: var(--gray-800);
  padding: 6px 12px;
  border-radius: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--white);
  min-width: 105px;
}

.user-box-button svg {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.user-box-list {
  display: none;
  position: absolute;
  top: 72px;
  right: 0;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: var(--white);
  z-index: 100;
}

.user-box-list.active {
  display: block;
}

.user-box-item-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 14.5px 12px;
}

.popup-etc-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-logout-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#userbox-user-logout-element {
  position: absolute;
  top: 12px;
  right: 12px;
}

#user-info {
  display: block;
  width: 48px;
  height: 48px;
}

/* intro-description-box bounce key frame */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
