<section class="chat-wrapper active">
  <div class="chat-inner">
    <header class="chat-header">
      <div class="chat-button-group">
        <button type="button" class="chat-close-button">
          <load src="src/components/icons/triangle-arrow.html" />
          <span class="hidden">채팅창 닫기</span>
        </button>
      </div>
    </header>
    <div class="chat-body">
      <div class="chat-log-box"></div>
      <div class="chat-input-box">
        <input
          type="text"
          placeholder="메시지를 입력하세요."
          class="chat-input"
        />
        <button type="button" class="chat-enter-button short-key has-border">
          <load src="src/components/icons/enter.html" />
          <span class="hidden">메시지 전송</span>
        </button>
      </div>
    </div>
  </div>
</section>
