<div class="header-right">
  <button type="button" disabled class="ranking-button only-icon-button">
    <span class="hidden">랭킹</span>
    <load src="src/components/icons/ranking.html" />
    <span class="chat-enter-button short-key has-border has-text">R</span>
  </button>
  <button type="button" class="setting-button only-icon-button">
    <span class="hidden">설정</span>
    <load src="src/components/icons/settings.html" />
    <span class="chat-enter-button short-key has-border has-text">S</span>
  </button>
</div>
