<div class="popup username fullscreen" role="dialog">
  <div class="popup-inner">
    <div class="popup-title-box">
      <h2 class="popup-title">닉네임 설정</h2>
      <p class="popup-description">
        사용할 닉네임을 정해주세요. (특수문자 가능)
      </p>
    </div>

    <div class="popup-input-box">
      <input
        type="text"
        maxlength="16"
        placeholder="설정할 닉네임을 입력해주세요. (최대 16글자)"
        class="fullscreen-popup-input"
      />

      <button
        type="button"
        id="username-set-button"
        class="button button-blue button-size-xl username-set-button"
      >
        <span class="short-key has-border has-text">
          <load src="src/components/icons/enter.html" />
        </span>
        <span>중복 확인</span>
      </button>
    </div>

    <div class="popup-bottom-button-group">
      <button
        type="button"
        class="button button-blue button-size-lg has-short-key"
      >
        <span class="short-key has-border has-text"> ESC </span>
        <span>뒤로</span>
      </button>
      <button
        type="button"
        class="button button-sky button-size-lg has-short-key"
      >
        <span class="short-key has-border has-text">
          <load src="src/components/icons/enter.html" />
        </span>
        <span>다음</span>
      </button>
    </div>
  </div>
</div>
